#test{
  font-family: "Inconsolata", monospace;
  font-size: 32px;
  text-align: center;
}
.button{
  width: 20px;
  height: 20px;
  outline: 1px solid rgba(0,0,0,.5);
  background-color: pink;
  display: inline-block;
  float: left;
}
