html{
  overflow-x: hidden;
  overflow-y: auto;
}
body{
  margin: 0;
  padding: 0;
}
.page{
  position: absolute;
  top: 0;
  height: 95%;
  width: 100%;
  background-color: #d6eaf8;
}


.titleContainer{
  margin-left: auto;
  margin-right: auto;
  background-color: salmon;
  height: 50px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.5);
}
#title{
  text-align: center;
  font-family: "Inconsolate", monospace;
  font-size: 32px;
  color: white;
  position: relative;
  top: 8px;
}

#frame{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 495px;
  width: 375px;
  background-color: lightgray;
  box-shadow: 0 0 8px 3px rgba(0,0,0,.4);
}

.screen{
  height: 120px;
  width: 100%;

}
#stringScreen{
  height: 43px;
  width: 100%;
  background-color: salmon;
  display: block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#mainScreen{
  position: relative;
  bottom: 2px;
  height: 80px;
  width: 100%;
  background-color: tan;
  display: inline-block;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#stringOutput{
  float: right;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  color: white;
  margin-right: 15px;
  letter-spacing: 2px;
  /* display: inline-block; */
}
#mainOutput{
  float: right;
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  color: white;
  margin-right: 15px;
  /* display: inline-block; */
}
.buttons div{
  background-color: salmon;
}
.button{
  width: 75px;
  height: 75px;
  display: inline-block;
  float: left;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.button:hover{
  background-color: #ec7063;

}
.button p{
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
  text-align: center;
  position: relative;
  top: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
#equalsButton{
  width: 150px;
}



.footer{
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 0;
  background-color: #7fb3d5;
  box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, .3);
}
#sourceLink{
  font-family: "Lucida Console", monospace;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  position: relative;
  left: 10px;
  top: 10px;

}
#sourceLink:hover{
  text-decoration: underline;
}
